name: Android Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  buildAndroid:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v4

      # Java correto (ESSENCIAL)
      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # Haxe
      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.7

      # Android SDK + NDK
      - name: Install Android SDK
        run: |
          mkdir -p $HOME/android-sdk/cmdline-tools
          cd $HOME/android-sdk/cmdline-tools

          curl -o tools.zip https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
          unzip tools.zip
          mv cmdline-tools latest

          yes | $HOME/android-sdk/cmdline-tools/latest/bin/sdkmanager --licenses
          $HOME/android-sdk/cmdline-tools/latest/bin/sdkmanager \
            "platform-tools" \
            "platforms;android-33" \
            "build-tools;33.0.2" \
            "ndk;25.2.9519653"

      # Variáveis de ambiente Android
      - name: Set Android env
        run: |
          echo "ANDROID_SDK_ROOT=$HOME/android-sdk" >> $GITHUB_ENV
          echo "ANDROID_HOME=$HOME/android-sdk" >> $GITHUB_ENV
          echo "$HOME/android-sdk/platform-tools" >> $GITHUB_PATH

      # Haxelib + extensões mobile
      - name: Install Haxelib libs
        run: |
          haxelib setup ~/haxelib
          haxelib install lime
          haxelib install openfl
          haxelib install flixel
          haxelib install flixel-addons
          haxelib install flixel-ui
          haxelib install flxanimate
          haxelib install hscript-iris
          haxelib install hxcpp

          haxelib git extension-androidtools https://github.com/MaysLastPlay77/extension-androidtools.git

          # fallback videoview
          if ! haxelib git extension-videoview https://github.com/MaysLastPlay77/extension-videoview.git; then
            git clone https://github.com/MaysLastPlay77/extension-videoview.git ~/videoview
            haxelib dev extension-videoview ~/videoview
          fi

      # Rebuild hxcpp
      - name: Rebuild hxcpp
        run: haxelib run lime rebuild hxcpp

      # Build APK
      - name: Build Android APK
        run: haxelib run lime build android -final -Dandroid -Drelease

      # Upload APK
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: androidBuild
          path: export/android/bin/*.apk